/* .top-part{
    position: fixed;
} */
/* @media screen and (max-width:900px){
    .middle-container{
        width: 100vw;
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-part-job-list-searchbar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 60px;
    justify-content: space-between;
    .font-awesome-icons-view{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        .email-icon{
            height: 20px;
        }
    }
    /* .search-icon{
        
    } */
    
}
.searchbar{
    border: 1px solid black;
    height: fit-content;
    padding: 5px;
    justify-content: space-around;
    .input-box{
        padding: 0px 10px;
        width: 230px;

    }
}
.middle-part{
    display: flex;
    /* flex-direction: row;
    gap: 10px; */
    /* overflow-y: visible; */
}
.middle-container{
    display: flex;
}
.left{
    flex: 1;
    /* background-color: yellow; */
    height: 100vh;
}
.middle{
    flex: 2;
    /* background-color: aqua; */
    height: 100vh;
}
.right{
    flex: 1;
    /* background-color: red; */
    height: 100vh;
}

.jobs-middle-container{
    background-color: blue;
}
.messages-middle-container{
    background-color: brown;
}
.networks-middle-container{
    background-color: green;
}
.notifications-middle-container{
    background-color: yellow;
}
.profile-middle-container{
    background-color: orange;
}
.back-arrow-icon{
    color: aqua;
    cursor: pointer;
}


@media screen and (max-width:200px){
    .job-list-card{
        width: 80%;
        display: flex;
    }
    .left-container{
        display: none;
    }
    .right-container{
        display: none;
    }
  
}
@media screen and (max-width:460px){
    .input-box{
        padding: 0px 10px;
        width: 180px;

    }
    .left-container{
        display: none;
    }
  
}
@media screen and (max-width:900px){
    .input-box{
        padding: 0px 10px;
        width: 230px;

    }
    .left-container{
        display: none;
    }
    .right-container{
        display: none;
    }
}